body {
	margin: 0;
}

#sister-sites small {
	display: block;
	color: #777777;
}

#sister-sites li {
	display: inline-block;
	margin-right: 10px;
	padding: 4px 5px 0 5px;
	border: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	word-spacing: normal;
}

#sister-sites ul {
	padding-left: 0;
	margin: 0 auto;
	/*background-color: red;*/
	width: 960px;
}

#sister-sites a {
	text-decoration: none;
	color: #06c;
}

#sister-sites {
	background-color: #eeeeee;
	padding-top: 5px;
	border-bottom: 1px solid #aaaaaa;
	word-spacing: -10px;
}

#active-site a {
	color: #777777;
}

li#active-site {
	background-color: #ffffff;
	padding: 6px 5px 0 5px;
	border-left: 1px solid #aaaaaa;
	border-top: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	position: relative;
	top: 2px;
}

#sister-sites li:hover:not(#active-site) {
	background-color: white;
	border: 1px solid #bde2f1;
	border-bottom: none;
}

#sister-sites li:hover:not(#active-site) a,
#sister-sites li:hover:not(#active-site) a small{
	color: #ff4700;
}

main {
	width: 960px;
	margin: 0 auto;
}

.product{
	background-color: #eeeeee;
	width: 19%;
	height:200px;
	margin-bottom: 50px;
	float: left;
	margin-right: 10px;
	position: relative;
	border: 1px solid #999999;
	box-sizing: border-box;

}
.product h2 {
	font-size: 16px;
	font-weight: normal;
	margin-top: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.product p {
	font-weight: bold;
	text-align: right;
}

.product img {
	max-width: 100%;
}

.product:last-child {
	margin-right: 0;
}

.product div {
	padding: 10px;
}
.discount {
	background-color: #e34647;
	color: white;
	padding: 4px 10px;
	position: absolute;
	top: 7px;
	left: -5px;

}

body > footer {
	background-color: #333333;
	clear: both;
	color: #aaaaaa;
	padding: 20px 0;
	border: 1px solid #777777;
	border-radius: 3px;
}

#links{
	width: 65.5%;
	float: left;
	padding-left: 15px;
	
}

#functions{
	width: 32.5%;
	float: right;
	height: 174px;
	padding: 15px;
	text-align: center;
}

#links,
#functions {
	box-sizing: border-box;
	border: 1px solid #555555;
	border-radius: 3px;

}

#footer-container {
	width: 960px;
	margin: 0 auto;
}

body > footer:after {
	content: '';
	display: block;
	clear: both;
}

body > footer ul {
	width: 33.33%;
	float: left;
	padding-left: 0;
	list-style: none;
}
#links a {
	color: #bbbbbb;
	text-decoration: none;
	line-height: 28px;
}
#links a:hover {
	color: #999999;
	text-decoration: underline;
}

#functions a {
	color: #aaaaaa;
	text-decoration: none;
	line-height: 28px;

}

#functions a:hover {
	color: #888888;
	text-decoration: underline;
}

#functions hr {
	height: 2px;
	border: none;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+5,999999+50,333333+95 */
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(left,  #333333 5%, #999999 50%, #333333 95%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  #333333 5%,#999999 50%,#333333 95%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  #333333 5%,#999999 50%,#333333 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#333333',GradientType=1 ); /* IE6-9 */
	margin-bottom: 20px;
}

#functions hr ~ a {
	color: #aaaaaa;
	padding: 5px 15px;
	text-shadow: 0 1px 1px rgba(0,0,0,.5);
	border: 1px solid #111111;
}

#functions hr + a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,4c4c4c+100 */
	background: #333333; /* Old browsers */
	background: -moz-linear-gradient(top,  #333333 0%, #4c4c4c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #333333 0%,#4c4c4c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #333333 0%,#4c4c4c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#4c4c4c',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0 0 4px 2px  rgba(0,0,0,.5);
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-right: none;
}

#functions hr + a + a {
	background-color: #e2d3c4;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e8e8e+0,444444+100 */
	background: #8e8e8e; /* Old browsers */
	background: -moz-linear-gradient(top,  #8e8e8e 0%, #444444 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #8e8e8e 0%,#444444 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #8e8e8e 0%,#444444 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	border-left: none;
}












































